+-------------------------------------------------------------+
| Connector/ODBC                                              |
| Making Distributions                                        |
+-------------------------------------------------------------+

In all cases below you will want to start by ensuring that the
proper version is set in the various locations (yet to be fully 
documented) within the source. For example;

- VersionInfo.h         - used by driver and setup rc files
- myodbc3.h
- driver.pro            - remove version (use myodbc3.h)
- myodbc3.def           - remove version?
- myodbc3S.def          - remove version?
- configure.in
- defines.pri         - not needed?

Linux
=====

Source 
(tar-ball)

- svn co svn+ssh://svn.mysql.com/connectors-svnroot/connector-odbc3 
- change current ver to new ver in source/config files
- make -f Makefile.svn
- ./configure 
- make dist
- source tar-ball will be in current dir

Binary
(RPM)

- svn co svn+ssh://svn.mysql.com/connectors-svnroot/connector-odbc3 
- change current ver to new ver in source/config files
- make -f Makefile.svn
- ./configure 
- make dist
- cd scripts
- make
- cd ..
- su 
- source RPM will be in /usr/src/packages/SRPMS
- binary RPM will be in /usr/src/packages/RPMS/i586

Binary
(tar-ball)

- make bin-tar (or 'make tar-ball')
- change name of tar-ball (inside and out) for example;
	mysql-connector-odbc-3.51.11-suse-linux-i686.tar.gz to...
	mysql-connector-odbc-3.51.11-1-pc-linux-i686.tar.gz 

XP
==

Some scripts expect pkzipc (the command-line
version of pkzip) somewhere in your path.

Binary distributions may need to include files from outside of 
the myodbc build tree. For example; builds done with Visual Studio
probably want to include msvcr*.dll (Microsoft C runtime library).
If its a debug build one may want to include the debug version of
the supporting libraries such as; msvcr*d.dll  

Source 
(zip)

Simply execute CreateSourceZip.bat from the source root directory
then look for the result in the source root dir.

Binary
(zip)

Simply execute CreateBinaryZip.bat from the source root directory
then look for the result in the source root dir.

Binary
(msi)

In this case you will want the wix-installer source repo checked
out in parallel dir of MyODBC. The wix-installer is not distributed
as part of MyODBC.

Execute CreateBinaryMsi.bat from the source root directory
then look for the result in the source root dir.


 

