/////////////////////////////////////////////////////////////////////////////
// Copyright 2007-2008 MySQL AB, 2010 Sun Microsystems Inc.
//
// The MySQL Connector/ODBC is licensed under the terms of the
// GPL, like most MySQL Connectors. There are special exceptions
// to the terms and conditions of the GPL as it is applied to
// this software, see the FLOSS License Exception available on
// mysql.com.
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of version 2 of the GNU General Public License as
// published by the Free Software Foundation.
//
// There are special exceptions to the terms and conditions of the GPL
// as it is applied to this software. View the full text of the exception
// in file LICENSE.exceptions in the top-level directory of this software
// distribution.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

/////////////////////////////////////////////////////////////////////////////
// \brief       Resource file for MS Windows builds.
//
// \note        Hand crafted - do not overwrite and save to source repo!
//
#include <windows.h>
#include "..\resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// \brief       English (U.S.) resources
//
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
MYSQL_LOGO              BITMAP  DISCARDABLE     "..\mysql.bmp"
#endif    // English (U.S.) resources

/////////////////////////////////////////////////////////////////////////////
//
// \brief       Version information
//
// \note        We actually share our version with others (ie setup lib) so
//              use the common VersionInfo.h file.
//
#include "..\VersionInfo.h"
VS_VERSION_INFO VERSIONINFO
  FILEVERSION MYODBC_FILEVER
  PRODUCTVERSION MYODBC_PRODUCTVER
  FILEFLAGSMASK 0x3L
#ifdef _DEBUG
 FILEFLAGS 0x29L
#else
 FILEFLAGS 0x28L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "Comments", "provides core driver functionality\0"
            VALUE "CompanyName", "MySQL AB\0"
            VALUE "FileDescription", "MySQL ODBC 5.1 Driver\0"
            VALUE "FileVersion", MYODBC_STRFILEVER
            VALUE "InternalName", "myodbc5\0"
            VALUE "LegalCopyright", "Copyright 1995-2008 MySQL AB, 2008-2010 Sun Microsystems Inc.\0"
            VALUE "LegalTrademarks", "MySQL, MyODBC, Connector/ODBC are trademarks of Sun Microsystems Inc.\0"
            VALUE "OriginalFilename", "myodbc5.dll\0"
            VALUE "PrivateBuild", "Production\0"
            VALUE "ProductName", "Connector/ODBC 5.1\0"
            VALUE "ProductVersion", MYODBC_STRPRODUCTVER
            VALUE "SpecialBuild", "GA release\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END



